/* The .card class uses flexbox to center its content both vertically and horizontally. */
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    flex-grow: 1;
    flex-basis: 0;
    flex-shrink: 1;
    padding: 30px;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

/* On hover, the card moves upwards and casts a shadow and the text become white. */
.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    background-color: var(--card);
    color: white;
}

/* The .cards class arranges its children in a row, spacing them evenly with a gap between each. */
.cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    width: 100%;
    padding: 30px;
}


/* For screens smaller than 768px, the .cards layout changes to a column layout, with smaller padding. */
@media screen and (max-width: 768px) {
    .cards {
        flex-direction: column;
        padding: 15px;
    }

    .card {
        width: 100%;
        padding: 20px;
    }
}

/* For very small screens (less than 480px), the padding and gaps are further reduced to optimize space. */
@media (max-width: 480px) {
    .card {
        padding: 10px;
    }

    .cards {
        padding: 10px;
        gap: 10px;
    }
}