:root {
    --background: #f6f6f6; /* Light grey background color */
    --card: #C3C3C3FF; /* Light grey color for cards */
    --rich-black: #0c1821ff; /* Very dark blue/black color */
    --engineering-orange: #c20114ff; /* Bright engineering orange color */
}
